.kokoa-add {
  margin: 10px 25px;
}
.add_main img,
.add-second img {
  display: flex;
  width: 100%;
}
.add-second {
  margin-top: 25px;
}
.add-second span {
  display: flex;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
}
