.settings__setting {
  padding: 18px 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings__setting i {
  opacity: 0.8;
  margin-right: 20px;
  font-size: 22px;
}
.settings__setting-column:last-child {
  opacity: 0.5;
  font-size: 15px;
}
.setting-main {
  padding: 20px 25px;
}
.settings-list {
  padding: 10px 0px;
  border-bottom:2px solid rgba(0, 0, 0, 0.1);
